@import 'mixin'; 
$indents_parent: 60px; 
$primary: #2aabe2; 
$secondary: #0a4f9d;

.secondary-color {color:$secondary;}
.primary-color {color: $primary;}

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
    font: inherit; 
    font-size: inherit;
    list-style: none;
    text-decoration: none;
}
.cover {background-size: cover;}
.cont {   
    position: relative;
    margin: auto; 
    max-width: 1920px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}